.app-movie-card {
    .movie-card {
        max-height: 450px;
        max-width: 265px;
    }
    .container-img-movie {
        max-height: 375px;
        width: 100%;
        min-width: 265px;
    }
    .movie-card-title {
        font-size: 15px;
    }
}