<div *ngIf="data" >
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="card-container-video">
    <div *ngFor="let item of data" >
      <mat-card class="video-card ">
        <div class="bgc-grey-600">
          <iframe class="video-container" [src]="makeSafeVideoURL(item.key)" allowfullscreen></iframe>
        </div>
        <mat-card-content>
          <h2 class="video-card-title">
            {{item.name}}
          </h2>
         
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>