.app-movie-card {
    .movie-card {
        height: 560px;
        width: 300px;
    }
    .container-img-movie {
        height: 410px;
        width: 300px;
    }
    .movie-card-title {
        font-size: 15px;
    }
}