.app-movie-card {
    .movie-card {
        height: 480px;
        width: 300px;
    }
    .container-img-movie {
        height: 390px;
        width: 300px;
    }
    .movie-card-title {
        font-size: 15px;
    }
}