<section flex class="bgc-grey-500" *tdLoading="'movie-detail'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent';">
  <div fxLayout="column">
    <!-- <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
          relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
          desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo
          sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente
          igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes
          de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
          versiones de Lorem Ipsum.</p> -->

  </div>
  <div fxLayout="column" class="main-container">
    <div class="movie-detail-backdrop" [ngStyle]="{'background-image': 'url(' + base_img_url_backdrop_path + data.backdrop_path + ')'}">
      <div fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="center" [ngStyle]="myStyles" tdMediaToggle="gt-sm">
        <div fxLayout="column" [ngClass]="{'poster-image':true,'push-lg': _mediaService.query('lg'), 'push-right-none': _mediaService.query('lg')}">
          <img src="https://image.tmdb.org/t/p/w300/{{data.poster_path}}" class="img-fluid rounded">

        </div>
        <div fxLayout="column" class="push-lg push-right-none">
          <div fxLayout="column" class="detail-description-content">
            <div class="movie-title">
              <h2>{{data.title}}</h2>
              <div fxLayout="row">
                <bar-rating [(rate)]="data.vote_average" [theme]="'fontawesome'" [max]="10" [readOnly]="true"></bar-rating>
                <span class="pad-top-sm white">({{data.vote_count}})</span>
              </div>
              <p>
                <mat-chip-list>
                  <mat-chip color="accent" *ngFor="let item of genres; let i = index;">{{item.name}}</mat-chip>
                </mat-chip-list>

                <!-- <span class="genres">{{genres}}</span>-->
              </p>
              <div fxLayout="row">

                <div fxLayout="column">
                  <span class="md-headline">
                    <mat-icon class="white">event</mat-icon>
                    {{data.release_date|date:'mediumDate'}}</span>
                  <span>{{data.release_date|timeAgo}}</span>
                </div>
                <div fxLayout="column">
                  <span class="md-headline"><mat-icon class="white pad-left-sm">access_time</mat-icon>
                  {{data.runtime | durationTime}}</span>
                </div>


              </div>
            </div>
            <div class="movie-overview">
              <h2>Overview:</h2>
              <p>{{data.overview}}</p>
            </div>
            <div class="featured-crew">
              <h2>Featured Crew:</h2>
              <div fxLayout="row wrap" fxLayoutGap="20px">
                <div flex *ngFor="let item of data_credits.crew | slice:0:3 ; let i = index;">
                  <div>
                    <span class="feature-crew-name">{{item.name}}</span>
                    <br> {{item.job}}
                  </div>
                </div>
              </div>
              <br>
              <div fxLayout="row wrap" fxLayoutGap="20px">
                <div flex *ngFor="let item of data_credits.crew | slice:3:6 ; let i = index;">
                  <div style="text-align:left !important;">
                    <span class="feature-crew-name">{{item.name}}</span>
                    <br> {{item.job}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="navbar-detail-movie">
    <!-- <mat-toolbar class="pad-none bgc-grey-800 toolbar-navigation" style="position:relative;">-->
    <nav mat-stretch-tabs mat-tab-nav-bar class="text-upper bgc-grey-800" flex>
      <a mat-tab-link class="toolbar-item" *ngFor="let item of items_detail; let i = index" (click)="setItem(item['tab_number'])">
        <span hide-xs>{{item['name']}}</span>
        <span hide-gt-xs>
          <mat-icon>{{item['icon']}}</mat-icon>
        </span>
      </a>
    </nav>
    <!-- </mat-toolbar>-->
  </div>

  <div [ngSwitch]="selected_item">
    <div *ngSwitchCase="'1'">
      <app-movie-cast [data]="data_credits.cast"></app-movie-cast>
    </div>
    <div *ngSwitchCase="'2'">
      <app-movie-crew [data]="data_crew"></app-movie-crew>
    </div>
    <div *ngSwitchCase="'3'">
      <app-similar-movies></app-similar-movies>
    </div>
    <div *ngSwitchCase="'4'">
      <app-movie-images></app-movie-images>
    </div>
    <div *ngSwitchCase="'5'">
      <app-movie-videos [data]="data.videos"></app-movie-videos>
    </div>
    <div *ngSwitchCase="'6'">
      <app-reviews [data]="data.reviews"></app-reviews>
    </div>
  </div>
</section>