<section flex class="bgc-grey-500" *tdLoading="'movie-detail'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent';">
  <div fxLayout="column">
    <!-- <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de
          relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
          desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo
          sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente
          igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes
          de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
          versiones de Lorem Ipsum.</p> -->
  </div>
  <div fxLayout="column" class="main-container">
    <div class="movie-detail-backdrop" [ngStyle]="{'background-image': 'url(' + base_img_url_backdrop_path + data.backdrop_path + ')'}">
      <div fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="center" [ngStyle]="myStyles" tdMediaToggle="gt-sm">
        <div fxLayout="column" [ngClass]="{'poster-image':true,'push-lg': _mediaService.query('lg'), 'push-right-none': _mediaService.query('lg')}">
          <img src="https://image.tmdb.org/t/p/w300/{{data.poster_path}}" class="img-fluid rounded">
        </div>
        <div fxLayout="column" class="push-lg push-right-none">
          <div fxLayout="column" class="detail-description-content">
            <div class="movie-title">
              <h2>{{data.title}}
                <span>({{data.release_date}})</span>
              </h2>
              <span class="genres">{{genres}}</span>
            </div>
            <div class="movie-overview">
              <h2>Overview:</h2>
              <p>{{data.overview}}</p>
            </div>
            <div class="featured-crew">
              <h2>Featured Crew:</h2>
              <p>{{data.overview}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Cast">
      <div fxLayout="column">
        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto
          de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a
          la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos
          especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos,
          quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset",
          las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo
          Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Crew"> Content 2 </mat-tab>
    <mat-tab label="Recomendations"> Content 3 </mat-tab>
    <mat-tab label="Reviews"> Content 3 </mat-tab>
  </mat-tab-group>
  <!--<app-list-movies></app-list-movies>-->
</section>