.container-person-tv-series{
    padding: 2%;
    .title-tv-series-movies {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 1.6em;
        margin: 0;
        padding: 2%;
    }
}