<section class="bgc-blue-grey-50">
  <div *ngIf="data_to_gallery_slider.backdrops">
    <app-slider [data]="data_to_gallery_slider"></app-slider>
  </div>
  <div fxLayout="row">


  </div>


  <!--<div layout-gt-xs="row">
    <mat-card>
      <img mat-card-image src="https://placekitten.com/g/600/200">
      <mat-card-title>Card with Image First</mat-card-title>
      <mat-card-subtitle>100% Width Image</mat-card-subtitle>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>-->

</section>