<section class="bgc-blue-grey-50">
    <div *ngIf="data_to_gallery_slider.backdrops">
        <app-gallery-slider [data]="data_to_gallery_slider"></app-gallery-slider>
      </div>
  <div fxLayout="row">
    <!--<div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
      <div class="push-top-xl" hide-xs></div>
      <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
        <h1 class="mat-display-1 tc-blue-A400 push-top-xs push-bottom-sm">Main Site Slogan</h1>
        <h2 class="mat-headline tc-grey-800 push-top-xs push-bottom-sm">Supporting Secondary Text</h2>
        <p class="mat-subhead tc-grey-600">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
        <button mat-raised-button color="accent" class="push-bottom text-upper">Call to Action</button>
      </div>
      <div class="push-bottom-xl" hide-xs></div>
    </div>-->
    <!--<div flex="40" layout="row" layout-align="center center">
      <mat-icon class="push" style="height:auto;width:auto;" svgIcon="assets:covalent-mark"></mat-icon>
    </div>-->
    
  </div>
  <div layout-gt-xs="row">
    <mat-card>
      <img mat-card-image src="https://placekitten.com/g/600/200">
      <mat-card-title>Card with Image First</mat-card-title>
      <mat-card-subtitle>100% Width Image</mat-card-subtitle>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div layout-gt-xs="row">
    <mat-card>
      <img mat-card-image src="https://placekitten.com/g/600/200">
      <mat-card-title>Card with Image First</mat-card-title>
      <mat-card-subtitle>100% Width Image</mat-card-subtitle>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</section>