.cast-card {
    .cast-card-title {
        font-weight: 600;
        font-size: 0.9em;
    }
    img {
        max-height: 800px;
        max-width: 600px;
        display: block; //display: inline;
        position: relative;
    }
}