.container-person-movies {
    padding: 2%;
    .title-person-movies {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 1.6em;
        margin: 0;
        padding: 2%;
    }
}