/* You can add global styles to this file, and also import other style files */
// Adjust your logo position
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-icon {
    &.mat-icon-logo {
      position: relative;
      top: -4px;
    }
}*/
/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #d84315 !important;
  height: 5px;
} 