<div class="app-person-detail">
  <div fxLayout="column" class="main-container">
    <div fxLayout.sm="row" fxLayout.xs="column">
      <mat-card class="person-card flex-item" flex-item>
        <div class="">
          <img mat-card-image class="container-img-person" src="assets/images/about_me.png">
        </div>
        <mat-card-title class="person-card-title">
          <a href="https://www.linkedin.com/in/harold-v%C3%A9lez-b2366bb0/" target="_blank" class="linkedin">
            <fa name="linkedin " size="2x"></fa>
          </a>
          <a href="https://github.com/haroldvz" target="_blank" class="github">
            <fa class="pad-left-xs" name="github-square " size="2x"></fa>
          </a>
        </mat-card-title>
        <!--<mat-card-subtitle></mat-card-subtitle>
                <mat-card-content>
                </mat-card-content>-->
      </mat-card>
      <div fxLayout="row" class="container-person-detail-description">
        <mat-card flex-gt-sm class="about-description-card">
          <mat-card-title>Harold Velez</mat-card-title>
          <mat-card-subtitle>Universidad del Valle</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div fxLayout="column">
              <div fxLayout="row wrap">
                <div fxLayout="column">
                  <!--<h2 class="title-person-detail">Harold Velez</h2>
                          <p class="uv-title">Universidad del Valle</p>-->
                  <p class="subtitle-person-detail-description">

                  </p>
                  <!--<p>{{data.biography}}</p>-->
                  <div>

                    <p class="about-me-description">9th semester student of Systems Engineering at Universidad del Valle, 2 year experience in Web development
                      and database administration as a fellow of the University (Django, PostgreSQL). </p>
                    <h3 class="about-me-description">Contact</h3>
                    <p class="about-me-description">
                      <mat-icon class="pad-right-xs ">contact_phone</mat-icon>
                      <span class="pad-left-xs">+57 305 455 0879</span>
                      <br>
                      <mat-icon class="pad-right-xs">contact_mail</mat-icon>
                      <span class="pad-left-xs">harold.velez.zambrano@correounivalle.edu.co</span>
                      <br>
                      <mat-icon class="pad-right-xs">contact_mail</mat-icon>
                      <span class="pad-left-xs">velezh010@gmail.com</span>
                    </p>
                    <!--<div class="expand-biography-icon">
                              <button mat-mini-fab>
                                <mat-icon class="text-md">expand_more</mat-icon>
                              </button>
                            </div>
                          </div>-->

                    <!--<div fxLayout="row wrap" fxLayoutGap="10px" class="about-me-description">
                      <div fxLayout="column">
                        <p>
                          <span>
                            <mat-icon class="text-md">cake</mat-icon>
                          </span>
                          Birthday
                          <br> October 19, 1994
                      </div>
                      <div fxLayout="column">
                        <p>
                          <span>
                            <mat-icon class="text-md">place</mat-icon>
                            Place of birth

                          </span>

                          <br>
                          <span class="place_of_birth">Cali, Colombia</span>
                        </p>
                      </div>


                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>

        </mat-card>

      </div>
    </div>
  </div>