.app-person-detail {
    padding: 5%;
    .person-card {
        min-height: 480px;
        width: 300px;
    }
    .container-img-person {
        height: 450px;
        width: 300px;
    }
    .person-card-title {
        font-size: 15px;
    }
    .container-person-detail-description {
        .title-person-detail {
            font-family: 'Source Sans Pro', Arial, sans-serif;
            font-size: 2.4em;
            margin: 0;
            padding: 0;
        }
        .subtitle-person-detail-description {
            font-family: 'Source Sans Pro', Arial, sans-serif;
            font-size: 1.6em;
            margin: 0;
            padding: 0;
        }

        .place_of_birth{
            text-align: left;
            padding-left: 20px; 
        }

        padding: 4%;
        text-align: justify;
    }
}

.navbar-detail-person {
    .toolbar-item {
        color: white;
    }
    .mat-toolbar-row,
    .mat-toolbar-single-row {
        height: 50px;
    }
}

.expand-biography-icon{
    text-align: center;
}

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}

.mat-icon {
    @include md-icon-size(24px);
}

.popularity{

    span{
        font-family: 'Source Sans Pro', Arial, sans-serif;
            font-size: 2.2em;
            
    }

    .mat-icon {
        @include md-icon-size(28px);
        bottom:0;
    }
    
}