<div class="app-movie-backdrop-card">
  <mat-card class="movie-backdrop flex-item" flex-item>
    <div class="movie-backdrop-container">
      <div *ngIf="data.name;else titleBlock">
        <!--For Tv Series (name)-->
        <a [routerLink]="['/tv-detail/', data.id ]">
          <div *ngIf="data.backdrop_path;else noBackdropImage ">
            <img mat-card-image class="img-movie-backdrop" src="https://image.tmdb.org/t/p/w500{{data.backdrop_path}}">
          </div>
        </a>
      </div>
      <!--For movies (title)-->
      <ng-template #titleBlock>
        <a [routerLink]="['/movie/', data.id ]">
          <div *ngIf="data.backdrop_path;else noBackdropImage ">
            <img mat-card-image class="img-movie-backdrop" src="https://image.tmdb.org/t/p/w500{{data.backdrop_path}}">
          </div>
        </a>
      </ng-template>
      <ng-template #noBackdropImage>
        <img mat-card-image src="assets/images/no-backdrop-image.png" class="" />
      </ng-template>
    </div>

    <mat-card-content>
      <!--For Movies-->
      <h2 class="movie-backdrop-card-title">
        <div *ngIf="data.title">
          {{data.title}}
        </div>
        <!--For TVSeries-->
        <div *ngIf="data.name">
          {{data.name}}
        </div>
      </h2>
      <!--<p>{{data.popularity}}</p>-->
    </mat-card-content>
  </mat-card>
</div>